/*Colocar o header num unico bloco, temos as opções flex, inline, block que são as mais usadas.*/
#page-home header {
    /*acrescentar uma margem para não ficar muito colado no topo da pagina*/
    margin-top: 48px;
    display: flex;
    /*alinhar os items que estão nesse bloco*/
    align-items: center;
    /*Justificar os items: colocar um item na ponta direita e outra na esquerda*/
    justify-content: space-between;
}
#page-home .content {
    /*Definindo quantos 90% será nosso bloco*/
    width: 90%;
    max-width: 1100px;
    /*definindo a margin. podemos passar como paramentro o top, right, bottom e left*/
    margin: 0 auto;
    /*definir a altura e algumas configurações para regular os posicionamento dos demais elementos*/
    height: 100%;
    display: flex;
    flex-direction: column;
}
#page-home {
    /*Acrescentar uma imagem*/
    background: url('../assets/home-background.svg') no-repeat;
    /*Posicionar ela */
    background-position: 35vw bottom;
    /*definir o tamanho dela*/
    height: 100vh;
}
#page-home header a span {
    /*adicionar a imagem*/
    background-image: url(../assets/log-in.svg);
    /*Precisa colcoar um tamanho*/
    width: 20px;
    height: 20px;
    /*Para a imagem aparecer, precisamos modificar o tipo de display*/
    display: flex;
    /*E para separar um pouco as imagens*/
    margin-right: 16px;
}
#page-home header a{
    /*com a modificação no "#page-home header a span" nosso display perdeu a configuração, com isso temos que mudar novamente*/
    display: flex;
    /*Trocar a cor do texto*/
    color: var(--title-color);
    /*Colocar o texto em negrito*/
    font-weight: 700;
}
#page-home main {
    /*Definir uma largura maxima*/
    max-width: 560px;
    /*Agora vamos fazer as configurações como continuação do que fizemos no page-home .content*/
    flex: 1;
    display: flex;
    flex-direction: column;
    /*e justify-content: center; vai centralizar nossos elementos com nossas configurações*/
    justify-content: center;
}
#page-home main h1 {
    /*Mudar a fonte*/
    font-size: 54px;
}
#page-home main p {
    /*Personalizar os textos em <p>*/
    font-size: 24px;
    /*altura da fonte*/
    line-height: 38px;
    /*uma margin para dar um espaço entre os dois texto*/
    margin-top: 24px;
}
#page-home main a {
    /*tamanho*/
    width: 100%;
    max-width: 360px;
    /*altura*/
    height: 72px;
    /*arredondar as bordar do nosso botão*/
    border-radius: 8px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    margin-top: 40px;
    /*tempo que a cor definida no hover vai levar para a trocar*/
    transition: 400ms;
}
/*configurações para quando nosso elemento esteja em modo hover(em ação ex: o botão for clicado)*/
#page-home main a:hover{
      background-color: #2fb86e;  
}
#page-home main a span {
    width: 72px;
    height: 72px;
    /*Escurecer o botão qndo o mouse passar em cima, mas manter as duas cores*/
    background-color: rgba(0,0,0,0.08);

    /*tirar as sobras do quaddrado menor*/
    border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    /*criando o display como solicitado abaixo*/
    display: flex;
    /*e vamos centralizar a imagem com os dois comando abaixo*/
    align-items: center;
    justify-content: center;
}
/*pseu do elemento, vamos criar no css elemento que não existem dentro do html*/
#page-home main a span::after{
    /*vamos criar um espaço dentro desse nosso elemento*/
    content: '';
    /*adicionar uma imagem nele*/
    background-image: url(../assets/search.svg);
    /*que só vai aparecer se definir um tamanho*/
    width: 20px;
    height: 20px; 
    /*e para finalizar vamos criar o display: flex no '#page-home main a span' para que aparece nossa imagem.*/
}
#page-home main a strong {

    color: whitesmoke;
    /*ocupar todo espaço de linha dentro da caixa*/
    flex: 1;
    /*centralizar o texto nessa linha*/
    text-align: center;
}