#page-create-point{
    /*Largura normal*/
    width: 90%;
    /*se passar de 1100px, não aumenta mais a caixa*/
    max-width: 1100px;
    /*margim: cima e baixo =0 , laterais automatico*/
    margin: 0 auto;
}

#page-create-point header {
    /*Colocar uma Margem em cima baixando os elemento que estão grudados no topo */
    margin-top: 48px;
    display: flex;
    /*definir cada elemento em uma ponta*/
    justify-content: space-between;
    /*alinhar o "Voltar para home com o ecoleta baixando ele*/
    align-items: center;
}
#page-create-point header a {
    color: var(--title-color);
    /*peso na fonte(negrito)*/
    font-weight: bold;
    /*alinhar o span e o texto*/
    display: flex;
    align-items: center;
}

#page-create-point header a span{
    /*colocar uma margem para separar a seta do texto*/
    margin-right: 12px;
    /*caminho para uma imagem (seta)*/
    background-image: url('../assets/arrow-left.svg');
    /*para funcionar precisamos colocar o display, width , heigth*/
    display: flex;
    width: 20px;
    height: 22px;
}
form {
    background-color: white;
    /*responsavel pelo preenchimento interno da nossa caixa*/
    padding: 80px;
    /*arredondamento das pontas*/
    border-radius: 8px;
    /*margin-top para dar uma margem e separar a caixa do ecoleta*/
    margin-top: 80px;
    /*Largura*/
    max-width: 700px;
    /*alinhamento de caixa pelo lado de fora*/
    margin: 80px auto;
}


form h1 {
    /*Tamanho da fonte*/
    font-size: 36px;
}

form fieldset {
    /*Margin-top para dar uma margem e separar a caixa de dados da entidade do titulo cadastro de ponto de coleta */
    margin-top: 64px;
    /*tirar a bordar padrão da caixa*/
    border: 0;
}

form legend {
    /*margin-bottom para separar os elementos*/
    margin-bottom: 40px;
}

form legend h2 {
    font-size: 24px;
}

form .field {
    /*Para dividir e preencher todo o espaço */
    flex: 1;
    display: flex;
    /*fazer os elementos ficar em coluna*/
    flex-direction: column;
    /*margin-bottom para separar os elementos*/
    margin-bottom: 24px;
}

form .field-group {
    display: flex;
}

form select,
form input{
    /*cor da caixa*/
    background-color: #f0f0f5;
    /*tirar a bordar da caixa*/
    border: 0;
    /*aumentar o espaçamento interno*/
    padding: 16px 24px;
    /*tamanho da fonte*/
    font-size: 16px;
    /*quando clica no campo para inserir dados, aparece uma bordar preta, vamos tirar com o outline*/
    /*vamos comentar pois vamos deixar a linha preta*/
    /*outline: none;*/

    /*arredondar as pontas da caixa*/
    border-radius: 8px;
}

form label {
    /*Tamanho da letra em cima da caixa do input*/
    font-size: 14px;
    /*Separar o texto do caixa*/
    margin-bottom: 8px;
}

/*as caixas do input estão grudadas, vamos dar um espaço entre as caixas*/
/*Esse caminho é para chegar na segunda caixa*/
form .field-group .field + .field {
    /*Vamos aplicar a margin no segundo campo para separa-los*/
    margin-left: 24px;
}
form button{
    /*Largura*/
    width: 250px;
    /*Altura*/
    height: 56px;
    /*Cor do botão*/
    background-color: var(--primary-color);
    /*Arredondamento*/
    border-radius: 8px;
    /*Tirar a borda*/
    border: 0;
    /*Cor da fonte*/
    color: white;
    /*Tamanho da fonte*/
    font-size: 16px;
    /*negrito*/
    font-weight: bold;
}