/* BOX MODEL:
    Toda caixa tem : largura, altura, espaçamento, preenchimento, bordas, cor, fundo, maneira que é vista pelo html(display), alinhamento, posicionamento
*/
/*:root = criar uma variavel que pode ser repetidas e replicadas na nossa pagina*/
:root{
    /*criamos essa variavel e agora é só replicar*/
    --title-color: #322153;

}
html {
    /*Mudar as fontes da pagina toda*/
    font-family: 'Roboto Slab', serif;
}
body{
    /*Mudar a cor do corpo da pagina*/
    background: #f0f0f5;
}
a{
    /*Tirar o sublinhando dos links*/
    text-decoration: none;
}
/*Colocar o header num unico bloco, temos as opções flex, inline, block que são as mais usadas.*/
#page-home header {
    /*acrescentar uma margem para não ficar muito colado no topo da pagina*/
    margin-top: 48px;
    display: flex;
    /*alinhar os items que estão nesse bloco*/
    align-items: center;
    /*Justificar os items: colocar um item na ponta direita e outra na esquerda*/
    justify-content: space-between;
}
#page-home .content {
    /*Definindo quantos 90% será nosso bloco*/
    width: 90%;
    max-width: 1100px;
    /*definindo a margin. podemos passar como paramentro o top, right, bottom e left*/
    margin: 0 auto;
}

#page-home {
    /*Acrescentar uma imagem*/
    background: url('../assets/home-background.svg') no-repeat;
    /*Posicionar ela */
    background-position: 35vw bottom;
    /*definir o tamanho dela*/
    height: 100vh;
}

#page-home header a span {
    /*adicionar a imagem*/
    background-image: url(../assets/log-in.svg);
    /*Precisa colcoar um tamanho*/
    width: 20px;
    height: 20px;
    /*Para a imagem aparecer, precisamos modificar o tipo de display*/
    display: flex;
    /*E para separar um pouco as imagens*/
    margin-right: 16px;
}

#page-home header a{
    /*com a modificação no "#page-home header a span" nosso display perdeu a configuração, com isso temos que mudar novamente*/
    display: flex;
    /*Trocar a cor do texto*/
    color: var(--title-color);
    /*Colocar o texto em negrito*/
    font-weight: 700;
}

#page-home main {
    /*Definir uma largura maxima*/
    max-width: 560px;

}
#page-home main h1 {
    /*Mudar a fonte*/
    font-size: 54px;
}

/*Definir que todos H's receba uma cor e um estilo de fonte*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Abril Fatface', cursive;
    /*Usando a cor criada no :root*/
    color: var(--title-color);
}