/* BOX MODEL:
    Toda caixa tem : largura, altura, espaçamento, preenchimento, bordas, cor, fundo, maneira que é vista pelo html(display), alinhamento, posicionamento
*/

body {
    font-family: 'Roboto Slab', serif;
}
/*Colocar o header num unico bloco, temos as opções flex, inline, block que são as mais usadas.*/
header {
    display: flex;
    /*alinhar os items que estão nesse bloco*/
    align-items: center;
    /*Justificar os items: colocar um item na ponta direita e outra na esquerda*/
    justify-content: space-between;
}
.content {
    background-color: chartreuse;
    /*Definindo quantos 90% será nosso bloco*/
    width: 90%;
    max-width: 1100px;
    /*definindo a margin. podemos passar como paramentro o top, right, bottom e left*/
    margin: 0 auto;
}
